*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: sans-serif;
}
html{scroll-behavior: smooth;}
body{
    max-width: 1280px;
    margin: auto;
    background-color: gray;
    position: relative;
}
.organizar{
    width: 100%;
    height: 60px;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    display:flex ;
    align-items: center;
    gap: 4px;
   /* overflow: hidden; */

}
.gradient01{
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid white;
    border-radius: 25px;
   position: relative;
   background-color: #805959;

}

.dias{
    width: 100%;
    height: 40px;
    background-color: #805959;
    display:flex ;
    gap: 4px;
    overflow: scroll;
}
.mes{
    background-color: red;
    height: 40px;
    
}
.meses{
    margin-top: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
   transform: rotateX(90deg);
background-color: black;
width: 100%;
height: 100%;
}
.mesesCh{
    animation: rotate 0.3s linear forwards;
}
@keyframes rotate{
    from{transform: rotateX(90deg);}
    to{transform: rotateX(0deg);}
}
.izquierda{
    height: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    clip-path: polygon(0%50%,60%0%,60%25%,100%25%,100%75%,60%75%,60%100%);
   
}
.derecha{
    height: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    clip-path: polygon(0%25%,40%25%,40%0%,100%50%,40%100%,40%75%,0%75%);
    
}
.organizar a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    /* border-radius: 50%; */
    border: 1px solid white;
}

section{
   
    margin: 10px 0px;
    background-color: white;
   
}
section:last-of-type{
    margin-bottom: 0px;
}
section:first-of-type{
    margin-top: 0px;
}
#seccionesEnero{
    margin: 0;
    padding: 0;
}
div{
    padding: 5px;
}
h1{
  
    padding-top: 65px;
    text-align: center;
 
}
ul{
    padding-left: 20px;
}
pre{
    margin: 5px auto;
 
    text-align: center;
   
}
.rojo{
    color: red;
    font-weight: 300;  
}
.azul{
    color: mediumblue;
    font-weight: 300;  
}
.verde{
    color: green;
    font-weight: 300;  
}

h3{
    
   font-size: 15px;
   
   display: inline;
   line-height: 2px;
   

}
h2, h3, p, ul{
    margin: 0px 5px;
}
.horasPersonal{
    display: grid;
    grid-template-columns:1fr 1fr 3fr;
 
    background-color: white;

}
.fondoGris{
    background-color: rgb(238, 229, 229);
    padding: 20px 5px;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.subcontratos{
    background-color:white;
    padding: 20px 5px;
    letter-spacing: 2px;
}


.cssToolTip {
    position: relative; /* Esta clase tiene que tener posicion relativa */
    border: 2px solid white;
font-size: 25px;
    border-radius: 25px;
    color: white;
    display: flex;
    z-index: 100;
  
    
}


/* El tooltip */

.cssToolTip span {
    background: rgba(20,20,20,0.9) url('img/info.gif') center left 5px no-repeat; 
    border: 2px solid #87cefa;
    border-radius: 5px;
    /* box-shadow: 5px 5px 5px #333; */
    filter: drop-shadow(0 0 0.2rem black);
    color: #87cefa;
    /* display: none;  */
    transform: scale(0);
    /* El tooltip por defecto estara oculto */
   /* opacity: 0; */
    font-size: 0.8em;
    padding: 10px 10px 10px 10px;
    max-width: 6000px;
    position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */

    top: 45px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */

    left: 5px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */

    z-index: 100; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
    display: flex;
    flex-direction: column;
    gap: 2px;
   

}


/* El tooltip cuando se muestra */

.cssToolTip:hover span {
    /* display: block; */
    animation: mostrar 0.3s linear forwards;
     /* Para mostrarlo simplemente usamos display block por ejemplo */
    

}
@keyframes mostrar{
  0%{transform: scale(0);}
  80%{transform: scale(1.2);}
  100%{transform: scale(1);}
}
span button{
    font-size: 20px;
    background-color: transparent;
    color: white;
  border: transparent;
 
}
footer{
    width: 100%;
    height: 30px;
    background-color: black;
}

