*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: sans-serif;
}
body{
    max-width: 1280px;
    margin: auto;
    background-color: gray;
    position: relative;
}
.organizar{
    width: 100%;
    height: 40px;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    display:flex ;
    align-items: center;
    gap: 4px;
   overflow: hidden;
}
.dias{
    width: 100%;
    height: 40px;
    background-color: rgb(128, 89, 89);
    display:flex ;
    gap: 4px;
    overflow: scroll;
}
.mes{
    background-color: red;
    height: 40px;
    
}
.meses{
    margin-top: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
   transform: rotateX(90deg);
background-color: black;
width: 100%;
height: 100%;
}
.mesesCh{
    animation: rotate 0.3s linear forwards;
}
@keyframes rotate{
    from{transform: rotateX(90deg);}
    to{transform: rotateX(0deg);}
}
.izquierda{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: white;
}
.derecha{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: white;
}
.organizar a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    /* border-radius: 50%; */
    border: 1px solid white;
}
section{
   
    margin: 10px 0px;
    background-color: white;
   
}
div{
    padding: 5px;
}
h1{
  
    padding-top: 40px;
    text-align: center;
 
}
ul{
    padding-left: 20px;
}
pre{
    margin: 5px auto;
 
    text-align: center;
   
}
.rojo{
    color: red;
    font-weight: 300;
    
}

h3{
    
   font-size: 15px;
   
   display: inline;
   line-height: 2px;
   

}
h2, h3, p, ul{
    margin: 0px 5px;
}
.horasPersonal{
    display: grid;
    grid-template-columns:1fr 1fr 3fr;
 
    background-color: white;

}
.fondoGris{
    background-color: rgb(238, 229, 229);
    padding: 20px 5px;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.subcontratos{
    background-color:white;
    padding: 20px 5px;
    letter-spacing: 2px;
}


